@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Palette+Mosaic&family=Roboto&display=swap");

:root {
  --color-base: #ffffff;
  --color-point: #b301aa;
  --color-1st-point: #e7824c;
  --color-2bd-point: #dd564a;
  --color-3bd-point: #cb1452;
  --color-4th-point: #c00266;
  --color-5th-point: #bc028b;
  --color-text-point: #b301aa;
  --color-text-simple: #ffffff;
  --color-text-error: #ff0000;

  --font-Eng-base: "Roboto Condensed", "Noto Sans KR", sans-serif;
  --font-logo-base: "Palette Mosaic", cursive;
}
* {
  color: var(--color-text-point);
  font-family: var(--font-Eng-base);
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1rem;
}
.center {
  margin: 0 auto;
}

.main {
  width: 100vw;
  height: 100vh;
  background-image: url(./asset/images/backGroundImage.jpg);
}
.flex_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.flex_column {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.text_simple {
  color: var(--color-text-simple);
}
.content_box {
  background-color: var(--color-base);
  width: 80vw;
  border-radius: 10px;
  margin-bottom: 5vh;
  min-width: 90vw;
  min-height: 70vh;
}

.login_box {
  padding: 5vw;
  height: 60vh;
  width: 60vh;
  border: var(--color-point) solid 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 5vh auto;
}

.error_box {
  background-color: var(--color-base);
  border-radius: 20px;
  height: 30vh;
  text-align: center;
  padding: 20px 10px;
  font-size: 1.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.error_title {
  color: var(--color-text-simple);
  font-size: 5vh;
}

input[type="email"],
input[type="password"] {
  display: block;
  border-radius: 7.5px;
  border: var(--color-point) solid 2px;
  width: 45vw;
  height: 25px;
  margin: 10px 10px 10px 10px;
  color: black;
}

.btn_box {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 2vh;
}

button {
  border-radius: 10px;
  border: var(--color-point) solid 2px;
  background-color: var(--color-base);
  color: var(--color-text-point);
  font-size: 1.1rem;
}
.login_btn {
  width: 120px;
  height: 35px;
}

button:hover {
  background-color: var(--color-point);
  color: var(--color-text-simple);
}

.cat_image {
  width: 30vw;
  height: 30vw;
  border-radius: 25px;
}

.error_msg {
  font-size: 2em;
  font-family: var(--font-Eng-base);
  color: var(--color-text-error);
  padding: 10px;
}

.line_white {
  margin: 15px auto;
  border: var(--color-text-simple) solid 3px;
  border-radius: 25px;
}

.line_point {
  border: var(--color-text-point) solid 3px;
}

.line_simple {
  width: 90%;
  border: var(--color-text-simple) solid 1px;
  border-radius: 25px;
}

.header_box {
  width: auto;
  height: 12vh;
  display: flex;
  margin: 1vh 0;
  border-radius: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-base);
}

.logo_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_box label {
  font-size: 2.2rem;
  border-radius: 10px;
  font-family: var(--font-logo-base);
  color: var(--color-text-point);
  border: var(--color-1st-point) solid 2px;
  margin: 10px;
}
.search_bar {
  background-color: var(--color-base);
  text-align: center;
}

.loginInfo_box {
  width: 100%;
  background-color: var(--color-base);
  text-align: center;
  width: 15vw;
}

.grid_conteiner {
  padding: 10px;
  display: grid;
  height: 100%;
  grid-template: repeat(20, 15px) / repeat(20, 15px);
  grid-auto-columns: 15px;
  grid-auto-rows: 15px;
  grid-auto-flow: column dense;
  gap: 15px;
}
.grid_item {
  width: 95%;
  height: 95%;
  padding: 2.5%;
  border-radius: 10px;
}

.grid_item:nth-child(1n) {
  background-color: var(--color-1st-point);
}
.grid_item:nth-child(2n) {
  background-color: var(--color-2bd-point);
}
.grid_item:nth-child(3n) {
  background-color: var(--color-3bd-point);
}
.grid_item:nth-child(4n) {
  background-color: var(--color-4th-point);
}
.grid_item:nth-child(5n) {
  background-color: var(--color-5th-point);
}

.post_title {
  font-size: 1.2em;
}
.post_contents {
  font-size: 1em;
}

.tab_conteiner {
  display: flex;
  padding-left: 0px;
  list-style: none;
  justify-content: center;
}
.tab_item {
  margin: 0 5px;
}

.tab_item label {
  padding: 8px 15px;
  background-color: var(--color-base);
  border-radius: 10px;
}

.tab_item label:hover {
  background-color: var(--color-point);
  color: var(--color-text-simple);
}

.menu {
  display: none;
  padding: 8px 12px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .header_box {
    flex-direction: column;
    height: 30vh;
  }

  .search_bar {
    width: 100%;
    /* display: none; */
  }
  .loginInfo_box {
    width: 100%;
    /* display: none; */
  }
  .loginInfo_box div,
  span,
  button {
    width: 100%;
    text-align: center;
  }

  .logo_box {
    width: 100%;
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  .menu {
    display: block;
  }
  .login_box {
    height: 60vh;
    width: 70vw;
  }
  .content_box {
    width: 90vw;
    height: 70vh;
  }

  .cat_image {
    width: 60vw;
    height: 60vw;
  }

  .login_btn {
    width: 27vw;
    height: 35px;
  }

  input[type="email"],
  input[type="password"] {
    width: 60vw;
    height: 25px;
  }
}
